.calendar {
    width: 340px;
    max-width: 100%;
    padding: 4px;
    border:
      1px solid hsl(210deg 10% 40%);
    border-radius: 8px;
    list-style-type: none;
  }
  .day {
    display: grid;
    place-content: center;
    border:
      2px solid hsl(210deg 8% 50%);
    border-radius: 4px;
    color: white;
    font-weight: 700;
    aspect-ratio: 1 / 1;
  }
  
  html {
    margin: 0;
    padding: 0;
    background: hsl(210deg 30% 12%);
  }
  body {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
  }